	a:link, a:visited { color:white;
						text-decoration:none;
						background:lightblue;
						border:solid;
					   	width:30%;
					   	display:inline-block;
					   	width:200px;
						border-radius:7px; }
	
	a:active { color:silver;
			text-decoration:none;
			background:black;
			border:dashed;
			display:inline-block;
			width:200px;
			border-radius:7px; }
								
	a:hover { color:navy;
			text-decoration:underline;
			background:blue;
			border:dotted;
			display:inline-block;
			width:200px;
			border-radius:7px; }


