	a:link, a:visited { color:black;
								text-decoration:none;
								background:fuchsia;
								border:solid;
								border-radius:5px; }
	
	a:active { color:silver;
					text-decoration:none;
					background:black;
					border:dashed;
					border-radius:5px; }
								
	a:hover { color:yellow;
					text-decoration:none;
					background:green;
					border:dotted;
					border-radius:5px; }